:root{
    --background_color: rgb(50,50,50);
    --background: rgb(55,55,55);
    --gray: gray;
}

*{
    background-color: var(--background_color);
    color: white;
}

body{
    text-align: center;
}

.painel{
    text-align: center;
    width: 60px;
    height: 60px;
    background: var(--background);
    display: inline-block;
    padding: 50px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: var(--background);
}

.jogador, .vencedor{
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
}

.reiniciar{
    margin-top: 20px;
    width: 100px;
    height: 40px;
    background: var(--background);
    cursor: pointer;
    transition: all .5s;
    border: 10px solid transparent;
}
.reiniciar:hover{
    width: 120px;
    height: 60px;
    background: var(--gray);
    border: 10px solid var(--gray);
    border-radius: 5%;
}